.main_title {
  font-size: 64;
  /*font-family: Helvetica, sans-serif;*/
  font-family: cursive;
}

.main_header {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  /*font-family: cursive;*/
}

#main_frame {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 10px;
}

#main_body {
  background-color: #777;
  margin: 0px;
}

.text_align_center {
  text-align: center;
}

.text_pad_left {
  padding-left: 20px;
}

.main_button {
  font-size: 20px;
  font-family: cursive;
  padding: 5 10 5 10;
  margin: 10px 10px 10px 20px;
  border-radius: 5px;
  background-color: #AAA;
}

.main_input {
  font-size: 24px;
  border-color: #777;
  border-width: 1px;
  margin-bottom: 21px;
}

.pop_up_button {
  font-size: 22px;
  font-family: cursive;
  padding: 5px 10px 5px 10px;
  margin: 20px 10px 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #777;
}

.pop_up_text {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  /*font-family: cursive;*/
}

.pop_up_input {
  font-size: 20px;
  border-color: #777;
  border-width: 1px;
  margin-right: 10px;
}

.col_input_title {
  float: left;
  width: 35%;

}

.float_stop{
  clear: both;
}

.col_input_deposit {
  float: left;
  width: 30%;
}

.col_input_optional {
  float: left;
  width: 15%;
  margin-top: 210px;
}

.basic_borderline {
  border-bottom: 2px solid black;
}
